@import "nib"
@import "_variables"
@import "_util/mixin"
@import "_util/grid"

global-reset()

*
  box-sizing: border-box

input, button
  margin: 0
  padding: 0
  &::-moz-focus-inner
    border: 0
    padding: 0

html, body, #container
  height: 100%

body
  font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif
  -webkit-text-size-adjust: 100%

.outer
  clearfix()
  max-width: 800px
  margin: 0 auto
  padding: 0 gutter-width
  @media mq-mobile
    padding: 0px

.inner
  column(columns)

.left, .alignleft
  float: left

.right, .alignright
  float: right

.clear
  clear: both

#container
  position: relative

.mobile-nav-on
  overflow: hidden
  #mobile-nav
    display: block

#wrap
  height: 100%
  width: 100%
  position: absolute
  top: 0
  left: 0
  transition: 0.2s ease-out
  z-index: 1
  .mobile-nav-on &
    left: 50%

.social-box
  column(12)
  padding: 10px 0
  @media mq-mobile
    text-align: center
    width: 100%
  a
    column(2)
    @media mq-mobile
      width: 100%

@import "_extend"
@import "_partial/header"
@import "_partial/article"
@import "_partial/comment"
@import "_partial/archive"
@import "_partial/footer"
@import "_partial/highlight"
@import "_partial/mobile"
@import "_partial/contact-icons"
