.contact-icons
    padding: 20px 0
    text-align: center

    a
        text-decoration: none
        display: inline-block

    .ico
        display: inline-block
        width: 50px
        height: 50px
        margin: 5px
        opacity: .7

        &:hover
            opacity: 1

    .facebook
        background: url('../../../public/contact-icons/contact-icons.svg') no-repeat
        background-size: 45px
        background-position-y: 4px
        background-position-x: 17px

    .twitter
        background: url('../../../public/contact-icons/contact-icons.svg') no-repeat
        background-size: 50px
        background-position-y: -115px

    .linkedin
        background: url('../../../public/contact-icons/contact-icons.svg') no-repeat
        background-size: 45px
        background-position-y: -57px
        background-position-x: 2px

    .github
        background: url('../../../public/contact-icons/contact-icons.svg') no-repeat
        background-size: 180px
        background-position-y: -180px
