.contact-icons
    padding: 20px 0
    text-align: center

    a
        text-decoration: none
        display: inline-block

    .ico
        display: inline-block
        width: 40px
        height: 40px
        margin: 5px
        opacity: .7

        &:hover
            opacity: 1

    .facebook
        background: url('../../../public/contact-icons/contact-icons.svg') no-repeat
        background-size: 30px
        background-position-y: 9px
        background-position-x: 12px

    .twitter
        background: url('../../../public/contact-icons/contact-icons.svg') no-repeat
        background-size: 44px
        background-position-y: -101px
        background-position-x: -3px

    .linkedin
        background: url('../../../public/contact-icons/contact-icons.svg') no-repeat
        background-size: 40px
        background-position-y: -51px

    .github
        background: url('../../../public/contact-icons/contact-icons.svg') no-repeat
        background-size: 135px
        background-position-y: -133px
