#footer
  color: color-grey
  a
    color: color-link
    text-decoration: none
    &:hover
      text-decoration: underline

#footer-info
  font-size: 0.85em
  width: 100%
  background: #000
  padding: 10px
  line-height: 20px
