#mobile-nav
  display: none

@media mq-mobile
  #mobile-nav
    position: absolute
    top: 0
    left: 0
    text-indent: 0;
    width: mobile-nav-width
    height: 100%

@media mq-mobile
  .mobile-nav-link
    display: block
    color: #DE1B1B
    text-decoration: none
    padding: 15px 20px
    font-weight: bold
    font-size: 20px
    &:hover
      color: color-link
