---
layout: page
title: "Categorias"
---

{% for tag in site.categories %}
  <p id="{{ tag[0] | slugify }}" style="
    margin-top: 1em;
    margin-bottom: 1em;
    display: block;">Artigos sobre {{ tag[0] | slugify }}</p>
  <ul>
    {% assign pages_list = tag[1] %}
    {% for post in pages_list reversed %}
      {% if post.title != null %}
      {% if group == null or group == post.group %}
      <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}<span ></a></li>
      {% endif %}
      {% endif %}
    {% endfor %}
    {% assign pages_list = nil %}
    {% assign group = nil %}
  </ul>
{% endfor %}
