---
layout: default
home: true
---

<div>
    {% for post in paginator.posts %}

    <article class="post" itemscope="itemscope" itemtype="https://schema.org/BlogPosting">
        <a href="{{ post.url | prepend: site.baseurl }}" title="Link para o artigo {{ post.title }}">
            <h2 class="post__title" itemprop="name headline">{{ post.title }}</h2>
        </a>
        <div itemprop="author" itemscope itemtype="https://schema.org/Person">
            <meta itemprop="name" content="William Oliveira">
        </div>
        <div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
            <meta itemprop="name" content="William Oliveira Blog">
            <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
                <meta itemprop="url" content="https://woliveiras.com.br/images/social-share.png">
            </div>
        </div>
        <p class="post__excerpt">{{ post.content | strip_html | truncatewords:70 }}</p>
        <span class="post__date">
            <meta itemprop="datePublished" content="{{post.date | date_to_xmlschema }}">
            <meta itemprop="dateModified" content="{{post.date | date_to_xmlschema }}">
            <meta itemprop="mainEntityOfPage" content="{{ post.url | prepend: site.url }}">
            Publicado em: <time>{{ post.date | date: site.date_format }}</time>
        </span>
        <div class="post__footer">
            <a href="{{ post.url | prepend: site.baseurl }}">
                {{ site.var_read }}
            </a>
        </div>
    </article>
    {% endfor %}
</div>

{% if paginator.previous_page or paginator.next_page %}
  {% include pagination.html %}
{% endif %}

{% include ad-livro-o-universo-da-programacao.html %}
