---
layout: page
title: "# Tags"
---

{% assign counter = 1 %}

{% for item in site.posts %}{% unless item.published == false %}
    {% assign counter=counter | plus:1 %}{% endunless %}
{% endfor %}

<div class="tags-page">
    <p>Você pode clicar em algum desses links para ir direto para um assunto que lhe interessa, pois, até agora, temos <strong>{{ counter }}</strong> posts no blog. ;D</p>
    <div class="tags-page__cloud">
    {% assign tags_list = site.tags %}
    {% if tags_list.first[0] == null %}
        {% for tag in tags_list %}
        <a class="tags-page__cloud__item" href="#{{ tag | slugify }}">{{ tag }}</a>
        {% endfor %}
    {% else %}
        {% for tag in tags_list %}
        <a class="tags-page__cloud__item" href="#{{ tag[0] | slugify }}">{{ tag[0] }}</a>
        {% endfor %}
    {% endif %}
    {% assign tags_list = nil %}
    </div>

    {% for tag in site.tags  %}
    <h2 class="tags-page__title" id="{{ tag[0] | slugify }}"># {{ tag[0] }}</h2>
    <ul>
        {% assign pages_list = tag[1] %}
        {% for post in pages_list %}
            {% if post.title != null %}
            {% if group == null or group == post.group %}
            <li class="tags-page__list-item"><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
            <div>{{ post.excerpt | strip_html }}</div>
            </li>
            {% endif %}
            {% endif %}
        {% endfor %}
        {% assign pages_list = nil %}
        {% assign group = nil %}
    </ul>
    {% endfor %}
</div>
