.social-share {
  max-width: 720px;
  margin: 0 auto;
  padding-top: 2em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 2em;
  text-align: center;
  border-top: 1px solid get-color('primary-shade');

  a:not([class]) {
    background: transparent;
  }

  &__title {
      font-size: 1.1em;
      padding-bottom: 10px;
      font-weight: 400;}

  &__text {
      padding-bottom: 1em;
    }

  &__icon {
      width: 30px;
      margin-right: 10px;
      margin-left: 10px;
      fill: get-color('primary-glare');
    }
}
