table {
  width: 100%;
  overflow: auto;
  border-collapse: collapse;
  color: black;
  
  th {
    padding: 6px 13px;
    border: 1px solid #dfe2e5;
  }
  
  tr {
    background-color: #fff;
    border-top: 1px solid #c6cbd1;
  }
  
  tr:nth-child(2n) {
    background-color: #f6f8fa;
  }

  td {
    padding: 6px 13px;
    border: 1px solid #dfe2e5;  
  }
}