<section class="[ post-list ] [ pad-top-700 gap-bottom-900 ]">
    <div class="[ inner-wrapper ] [ sf-flow ]">
        <h2 class="[ post-list__heading ] [ text-700 md:text-800 ]">Projetos legais</h2>
        <ul class="[ pad-top-300 ]">
            <li class="pad-bottom-300 pad-top-300">
                <a 
                    class="post-list__link text-600 weight-mid" 
                    href="/my-precious-links">
                    Meus links favoritos
                </a>
            </li>
            <li class="pad-bottom-300 pad-top-300">
                <a 
                    class="post-list__link text-600 weight-mid" 
                    href="/carreira-frontend/">
                    Guia de carreira para frontend
                </a>
            </li>
            <li class="pad-bottom-300 pad-top-300">
                <a 
                    class="post-list__link text-600 weight-mid" 
                    href="/linguagem-neutra">
                    Linguagem neutra em desenvolvimento de software
                </a>
            </li>
        </ul>
    </div>
</section>
