<section class="[ post-list ] [ pad-top-700 gap-bottom-900 ]">
    <div class="[ inner-wrapper ] [ sf-flow ]">
        <h2 class="[ post-list__heading ] [ text-700 md:text-800 ]">Projetos legais</h2>
        <ul class="[ pad-top-300 ]">
            <li class="pad-bottom-300 pad-top-300">
                <a 
                    class="post-list__link text-600 weight-mid" 
                    onclick="gtag('event', 'projects', {'event_label': 'codamos','event_category': 'click'})" 
                    href="https://www.codamos.club/">
                    Comunidades, eventos e pessoas legais para seguir
                </a>
            </li>
            <li class="pad-bottom-300 pad-top-300">
                <a 
                    class="post-list__link text-600 weight-mid" 
                    onclick="gtag('event', 'projects', {'event_label': 'my-precious','event_category': 'click'})" 
                    href="/my-precious-links">
                    Meus links favoritos
                </a>
            </li>
            <li class="pad-bottom-300 pad-top-300">
                <a 
                    class="post-list__link text-600 weight-mid" 
                    onclick="gtag('event', 'projects', {'event_label': 'frontend-career','event_category': 'click'})" 
                    href="/carreira-frontend/">
                    Guia de carreira para frontend
                </a>
            </li>
            <li class="pad-bottom-300 pad-top-300">
                <a 
                    class="post-list__link text-600 weight-mid" 
                    onclick="gtag('event', 'projects', {'event_label': 'linguagem-neutra','event_category': 'click'})" 
                    href="/linguagem-neutra">
                    Linguagem neutra em desenvolvimento
                </a>
            </li>
        </ul>
    </div>
</section>
