<footer role="contentinfo" class="[ site-foot ] [ pad-top-700 pad-bottom-900 ]">
  <div class="wrapper">
    <div class="[ site-foot__inner ] [ md:box-flex space-between align-start ]">
      {% if site.shortDesc %}
        <div>
          <article class="[ site-foot__details ] [ sf-flow measure-compact ]">
            <h2 class="font-base text-600">{{ site.name }}</h2>
            {{ site.shortDesc | markdownFilter | safe }}
          </article>
          <img
            style="margin-top: 20px;"
            src="https://api.netlify.com/api/v1/badges/95235766-d424-4013-9c35-b601b4b8432a/deploy-status" 
            alt="bagde do Netlify sobre o status do deploy"
          >
          <a target="_blank" href="http://smallactsmanifesto.org" title="Small Acts Manifesto">
            <img 
              src="http://smallactsmanifesto.org/static/images/smallacts-badge-80x15.png" 
              style="border:none;height: 20px;" 
              alt="Small Acts Manifesto"
            />
          </a>
        </div>
      {% endif %}
      <div>
        {% set ariaLabel = 'footer navigation' %}
        {% include "partials/components/nav.njk" %}
        <theme-toggle></theme-toggle>
      </div>
    </div>
    {% if site.showThemeCredit %}
      <p class="[ site-foot__credit ] [ pad-top-900 ]">
        Desenvolvido com <a href="https://www.11ty.dev/" rel="external">Eleventy</a> e <a href="https://hylia.website" rel="external">Hylia Eleventy Starter Kit v{{ pkg.version }}</a>.
      </p>
    {% endif %}
  </div>
</footer>
