<div class="big-advertising">
    <div class="big-advertising__text">
        <h2 class="big-advertising__title">Se você gostou deste artigo, me apoie no Catarse.</h2>
        <a class="big-advertising__call-button"
            href="https://www.catarse.me/o-universo-da-programacao"
            title="Apoiar meu trabalho via Catarse"
            onclick="gtag('event', 'post-bottom-ad-catarse', {
                'event_label': 'Personal Ads',
                'event_category': 'click'
            });">Apoiar</a>
    </div>
</div>
