<div class="top-advertising">
    <div class="top-advertising__text">
        <h2 class="top-advertising__title">Não esquece de me apoiar no Catarse!</h2>
        <a class="top-advertising__call-button"
            href="https://www.catarse.me/william-oliveira"
            title="Apoiar meu trabalho via Catarse"
            onclick="gtag('event', 'post-top-ad-catarse', {
                'event_label': 'Personal Ads',
                'event_category': 'click'
            });">Apoiar</a>
    </div>
</div>
