<div class="ad-catarse__header-banner {% if page.is_post %}ad-catarse__header-banner--fixed{% else %}ad-catarse__header-banner{% endif %}">
    <a class="ad-catarse__link"
        href="https://www.catarse.me/william-oliveira"
        title="Link da página de apoios para os meus projetos">
        {% if page.is_post %}
        Curte meus artigos? Me apoie no <span>Catarse</span>. :pray:
        {% else %}
        Gosta do meu trabalho? Clique aqui e me apoie no <span>Catarse</span>. :pray:
        {% endif %}
    </a>
</div>
