    <div class="advertising">
        <div class="advertising__text">
            <img class="advertising__image"
                src="{{ site.site_images }}/ads/o-universo-da-programacao-360-495.png"
                alt="Imagem da capa do livro O universo da programação">
            <div class="advertising__title">
                <h2>Livro para quem deseja entrar na área de programação</h2>
            </div>
            <p>O livro O Universo da Programação é um guia para quem deseja entrar na área de programação.</p>
            <p>Tudo o que você precisa saber para entrar nessa área tão cheia de oportunidades e com um futuro promissor.</p>
            <a  href="https://bit.ly/universo-da-programacao"
                title="Livro para iniciantes em programação: O Universo da programação"
                onclick="gtag('event', 'home-top-ad-o-universo-da-programacao', {
                    'event_label': 'Personal Ads',
                    'event_category': 'click'
                });"
            >Conheça o livro</a>
        </div>
    </div>
