<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
  <link rel="author" href="https://plus.google.com/{{ site.gplus_username }}?rel=author">
  <link rel="stylesheet" href="/css/styles.css">


  <!-- Google -->
  <meta name="google-site-verification" content="9VEhGCK14HNyG1P54ieEzIvVCfVJlZDp7W_6TRQIYa8" />
  
  {% include adsense.html %}
  {% include analytics.html %}

  {% if page.path contains '_posts' %}
    {% unless page.skip_amp %}
      <link rel="amphtml" href="{{ page.id | prepend: '/amp' | prepend: site.baseurl | prepend: site.url }}">
    {% endunless %}
  {% endif %}
  <!-- /Google -->

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@{{ site.twitter_username }}">
  <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta name="twitter:description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  {% feed_meta %}

  {% if page.image %}
    <meta property="twitter:image" content="{{ site.url }}{{page.image }}">
    <meta name="twitter:image" content="{{ site.url }}{{page.image }}">
  {% else %}
   <meta property="twitter:image" content="{{ "/images/social-share.png" | prepend: site.baseurl | prepend: site.url }}">
   <meta name="twitter:image" content="{{ "/images/social-share.png" | prepend: site.baseurl | prepend: site.url }}">
  {% endif %}

    <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">

  {% if page.image %}
    <meta property="og:image" content="{{ site.url }}{{page.image }}">
  {% else %}
    <meta property="og:image" content="{{ "/images/social-share.png" | prepend: site.baseurl | prepend: site.url }}">
  {% endif %}

  <meta property="og:type" content="website">
  <meta property="og:description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta property="og:site_name" content="{{ site.title }}">

  <meta itemprop="name" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}"/>
  <meta itemprop="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta itemprop="image" content="{{ "/images/social-share.png" | prepend: site.baseurl | prepend: site.url }}"/>

  <link rel="shortcut icon" href="{{site.site_images}}icons/favicon.ico" type="image/x-icon" />
</head>
