<div class="pagination">
  <ul>
    {% if paginator.previous_page %}
      <li class="pagination__item"><a class="pagination__item__text" href="{{ paginator.previous_page_path }}" rel="prev">{{ site.var_previous_post }}</a></li>
    {% else %}
      <li class="pagination__item"><span class="pagination__item__text pagination__item__text--deactivated">{{ site.var_previous_post }}</span></li>
    {% endif %}
    <li class="pagination__item"><span class="pagination__item__text">{{ site.var_page_indicator }} {{  paginator.page }} {{ site.var_page_indicator_separator }} {{ paginator.total_pages }}</span></li>
    {% if paginator.next_page %}
      <li class="pagination__item"><a class="pagination__item__text" href="{{ paginator.next_page_path }}" rel="next">{{ site.var_next_post }}</a></li>
    {% else %}
      <li class="pagination__item"><span class="pagination__item__text pagination__item__text--deactivated">{{ site.var_next_post }}</span></li>
    {% endif %}
  </ul>
</div>
