<div>

    {% if include.image_url %}
        <p class="post__wallpaper">
            <img src="{{include.image_url}}" alt="{{include.alt_text}}">
        </p>
    {% endif %}

    <!-- In Post Ad -->
    <ins class="adsbygoogle"
        style="display: block;max-width: 720px;height: 90px;margin: 0 auto;margin-top: 1em;margin-bottom: 1em;"
        data-ad-client="ca-pub-3477794539929090"
        data-ad-slot="2939462684"
        data-ad-format="fluid"
        data-full-width-responsive="true">
    </ins>
    <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
</div>