<div class="support-me">
    <h3>Você gosta do meu conteúdo?</h3>
    <p>Você pode retribuir meu trabalho me pagando um café ou compartilhando esse texto nas redes sociais. :grin:</p>
    <ul>
        <li class="support-me__action">
            <a href="https://www.catarse.me/pt/projects/84773/subscriptions/start?reward_id=157863" class="support-me__action__link"
                title="Link para doação de 5 reais na campanha no Catarse">
                <svg xmlns="https://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24">
                    <path d="M22 2.427c-1.303 0-2.41-1.043-2.41-2.427h-15.149c0 1.382-1.137 2.427-2.441 2.427v1.573h20v-1.573zm-19 3.573l3.062 18h11.938l3-18h-18zm15.639 1.996l-.667 4.004h-11.881l-.668-4.004h13.216zm-10.882 14.004l-.667-4h9.882l-.667 4h-8.548z" />
                </svg>
                <span>Clique aqui para pagar um café</span>
            </a>
        </li>
        <li class="support-me__action">
            <a href="https://www.catarse.me/woliveiras" class="support-me__action__link" title="Link para a minha campanha no Catarse">
                <img src="{{site.site_images}}catarse-logo-v-pb-positivo.png" alt="">
                <span>Conheça minha campanha no Catarse</span>
            </a>
        </li>
    </ul>
</div>
