<div class="[ support ] [ inner-wrapper ] [ sf-flow ] [ text-500 ]">
  <p>Se este conteúdo te ajudar, considere apoiar meu trabalho através do <a class="[ support__link ]" href="https://apoia.se/uillaz" target="_blank">Apoia.se</a></p>
</div>