a
    color: $brown-ligth
    font-weight: 400
    fill: $brown-ligth

h2
    font-weight: 400
    padding-bottom: 1.1em
    font-size: 1.3em

h3
    font-weight: 400
    padding-bottom: 1em
    font-size: 1.1em

h4
    font-weight: 400
    padding-bottom: 1em
    font-size: 1em

strong
    font-weight: 400

.emoji
    width: 15px
    height: 15px
    margin: 0
