{% extends 'layouts/base.njk' %}

{# Intro content #}
{% set introHeading = title %}
{% set introSummary %}{{ content | safe }}{% endset %}

{# Post list content #}
{% set coursesListHeading = 'Todos os cursos de programação e frontend' %}
{% set coursesListItems = collections.courses %}

{% block content %}
  <main id="main-content" tabindex="-1">
    {% include "partials/components/intro.njk" %}
    {% include "partials/components/courses-list.njk" %}
  </main>
{% endblock %}
