@import '../mixins/grid'

.page-footer
    background-color: $black

    &__wrapper
        +row

    &__subtitle
        color: $white
        font-weight: 300
        padding-bottom: 10px
        padding-top: 10px

    &__featured
        padding-top: 20px
        padding-bottom: 20px

    &__separator
        +col(1, 2)
        padding-bottom: 30px
        padding-top: 10px

        &--bordered
            border-bottom: 1px solid $gray-darkest

            @media only screen and (min-width: 768px)
                border: none

    &__copy
        +col(12, 12)
        background-color: $gray
        padding-bottom: 15px
        padding-top: 15px

        &__text
            font-size: 14px

            a
                font-size: 1em

    &__nav
        &__icon
            & svg
                display: inline-block
                height: 1em
                vertical-align: middle
                width: 1em
                margin-right: 10px

        &__text
            font-size: .8em
            font-weight: 300

        &--social
