---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';

const metadata = {
  title: 'William Oliveira - Carreira em programação, desenvolvimento frontend, web performance, arquitetura de software',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero>
    <Fragment slot="title">
      William Oliveira
    </Fragment>

    <Fragment slot="subtitle">
      Carreira em programação, desenvolvimento frontend, web performance, arquitetura de software
    </Fragment>

    <Fragment slot="content">
      <div class="max-w-3xl mx-auto text-left">
        <p>
          Eu sou o <a class="text-sky-400" href="https://twitter.com/1ilhas">William Oliveira</a>, desenvolvedor de software, especialista em frontend com foco em web performance e arquitetura de software, mentor e escritor dos livros sobre carreira em programação: <a class="text-sky-400" href="https://www.casadocodigo.com.br/products/livro-universo-programacao">O Universo da Programação</a>, <a class="text-sky-400" href="https://www.casadocodigo.com.br/products/livro-navegando-universo">Navegando no Universo da Programação</a> e <a class="text-sky-400" href="https://www.casadocodigo.com.br/products/livro-carreira-tecnica">Carreira Técnica no Universo da Programação</a>.
        </p>
        <p>Utilizo este blog para ensinar programação, compartilhar sobre engenharia de software, opiniões pessoais, dicas de carreira e muito mais.</p>
        <p><a class="text-sky-400" href="https://www.linkedin.com/in/william-oliveira/">Me acompanhe no LinkedIn</a> para aprender mais sobre frontend, JavaScript, TypeScript, React, Web APIs, Arquitetura de Software, Engenharia de Software, Git, GitHub, Open Source, Firebase e muito mais.</p>
      </div>
    </Fragment>

  </Hero>

  <BlogLatestPosts
    title="Últimos artigos publicados"
  />

</Layout>
