<div class="contact-icons">
	<a href="https://www.facebook.com/woliveira542"  target="_blank">
		<i class="ico facebook"  target="_blank"></i>
	</a>
	<a href="https://twitter.com/w_oliveiras"  target="_blank">
		<i class="ico twitter"  target="_blank"></i>
	</a>
	<a href="https://br.linkedin.com/in/woliveira542"  target="_blank">
		<i class="ico linkedin"  target="_blank"></i>
	</a>
	<a href="https://github.com/woliveiras"  target="_blank">
		<i class="ico github"></i>
	</a>
</div>