<footer id="footer">
  <div id="footer-info">
    <div class="outer">
      &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %> Powered by <a href="http://hexo.io/" target="_blank">Hexo</a>
    </div>
  </div>
</footer>