.cta-contribute {
    border: 1px solid;
    border-color: var(--color-primary-glare);
    border-radius: 3px;
    padding: 30px;

    &__link {
        background-color: var(--color-action-bg);
        color: var(--color-action-text);
        padding: .5rem;
        display: inline-block;
        width: 100%;
        text-align: center;
        margin-top: 1rem;
        margin-right: 1rem;
        text-decoration: none;

        &:hover,
        &:focus {
          filter: brightness(1.2);
        }
        
        &:focus:hover {
          outline: none;
        }
        
        &:focus:not(:hover) {
          outline: 1px solid var(--color-action-text);
          outline-offset: -4px;
        }
        
        &:active {
          transform: scale(0.99);
        }
    }
}