.support {
    border-bottom: 1px solid;
    border-color: var(--color-primary-glare);
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 2rem;
    margin-bottom: 1rem;

    &__link {
        background-color: var(--color-action-bg);
        color: var(--color-action-text);
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        text-decoration: none;

        &:hover,
        &:focus {
          filter: brightness(1.2);
        }
        
        &:focus:hover {
          outline: none;
        }
        
        &:focus:not(:hover) {
          outline: 1px solid var(--color-action-text);
          outline-offset: -4px;
        }
        
        &:active {
          transform: scale(0.99);
        }
    }
}