@import '../mixins/grid'

.ad-catarse
    &__header-banner
        +col(12, 12)
        display: block
        background: $blue
        text-align: center
        z-index: 2

        &--fixed
            position: fixed

    &__link
        color: $white
        font-size: 15px

        span
            color: $white
            font-weight: 400
            text-decoration: underline
            font-size: 15px
