@import '../mixins/grid'

.main-header
    background: black

    @media only screen and (min-width: 768px)
        text-align: center

    &__text
        +container()
        padding-bottom: 3em
        padding-top: 3em
        padding-left: 1em
        padding-right: 1em

    &__title
        color: $white

        a
            color: inherit
            font-weight: 900
            letter-spacing: 5px
            display: inline-block
            font-size: 3em
            line-height: 1.2em

            @media only screen and (min-width: 768px)
                padding-left: 0

    &__description
        display: block
        color: $white
