.newsletter-signup
    padding-top: .5em
    padding-bottom: .5em
    background-color: $gray
    border-bottom: 1px solid $gray-darkest

    &__content
        max-width: 720px
        margin: 0 auto

    &__title
        font-size: 1.1em
        padding-bottom: 10px
        font-weight: 400

    &__text
        padding-bottom: 1em

    &__link
        text-transform: uppercase
        font-weight: 600
