@import '../mixins/grid'

.related-posts
    padding-bottom: 2em
    padding-left: 1em
    padding-right: 1em
    padding-top: 2em
    +container()

    @media only screen and (min-width: 768px)
        padding-left: 0

    &__title
        font-size: 1.1em
        padding-bottom: 10px
        font-weight: 400

    &__item
        padding-bottom: 15px
        padding-top: 15px
        max-width: 560px
