---
layout: default
---
{% assign counter = 1 %}
<div class="course-page">
    <h1>Curso: {{ page.title }}</h1>

    <p>{{content}}</p>

    <!-- In Post Ad -->
    <ins class="adsbygoogle"
        style="display: block;max-width: 720px;height: 180px;margin: 0 auto;"
        data-ad-layout="in-article"
        data-ad-format="fluid"
        data-ad-client="ca-pub-3477794539929090"
        data-ad-slot="4075871768"></ins>
    <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>

    <ol>
    {% for post in site.categories[page.tag] reversed%}
        <li class="course-page__article">
            <a href="{{post.url}}">{{ post.title }}</a>
            <p>{{ post.description  | strip_html }}</p>
        </li>
        {% assign counter=counter | plus:1 %}
    {% endfor %}
    </ol>
</div>

