{% include header.html %}

{% include ad-catarse.html %}

<article class="post">
    {{ content }}
    <div class="post__footer">
        <span class="post__date">Publicado em: {{ page.date | date: site.date_format }}</span>
        <div class="post__categories">
            <span class="post__categories__title">Categorias:</span>
            <ul>
                {% for category in page.categories %}
                <li class="post__categories__item"><a href="{{ site.baseurl }}/categoria/{{category | slugify }}">{{ category }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</article>

<div align="center">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- In post ad -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-3477794539929090"
         data-ad-slot="2939462684"
         data-ad-format="auto"
         data-full-width-responsive="true">
    </ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>

    {% if site.display-author-post-page %}
        {% if page.author.name %}
        <small><em>{{ site.var_guest_post_by }}: {{ page.author.name }} <a href="{{ page.author.site }}" title="{{ page.author.name }} website" target="_blank">({{ page.author.site }})</a></em></small>
        {% else %}
        {% if site.author %}
            <small><em>{{ site.var_post_by }}: {{ site.author }}</em></small>
        {% endif %}
        {% endif %}
    {% endif %}

<script type="application/ld+json">
    {
        "@context": "http://schema.org/",
        "@type": "BlogPosting",
        "mainEntityOfPage": {
            "@type": "WebPage",
            "@id": "{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"
        },
        "headline": "{{page.title}}",
        "datePublished": "{{page.date}}",
        "dateModified": "{{page.date}}",
        "description": "{{page.description}}",
        "image": {
            "@type": "ImageObject",
            "url": "{{ site.url }}/images/social-share.png"
        },
        "author": {
            "@type": "Person",
            "name": "William Oliveira"
            "sameAs": [
                "https://www.facebook.com/woliveiras",
                "https://www.twitter.com/w_oliveiras",
                "https://www.github.com/woliveiras",
                "https://www.linkedin.com/in/william-oliveira/",
                "https://plus.google.com/+WilliamOliveiraS"
            ]
        },
        "publisher": {
            "@type": "Organization",
            "name": "William Oliveira Blog",
            "logo": {
                "@type": "ImageObject",
                "url": "https://woliveiras.com.br/images/social-share.png"
            }
        },
        "articleBody": "{{ content | strip_html | strip_newlines | replace: '"', '' }}"
    }
</script>

{% include social-share.html %}

{% include related-posts.html %}

{% include comments.html %}

{% include footer.html %}
