@import '../mixins/grid'

.post
    +col(12, 12)
    padding-top: 2em

    p
        padding-bottom: .8em
        +container()

    h1, h2, h3,
    h4, h5, h6
        +container()

    &__title
        font-size: 2em
        line-height: 1.2

    &__date
        font-size: .7em
        opacity: .5
        display: block
        +container()

    &__footer
        padding-bottom: .5em
        +container()

        a
            font-size: .8em
            font-weight: 300

    ul,ol,dl
        font-size: .8em
        padding: 0
        list-style: none
        list-style-image: none
        word-break: break-word
        word-wrap: break-word
        margin-bottom: 1em
        +container()

    li
        padding-left: 15px

        &:before
            content: '\2022'
            position: absolute
            display: inline-block
            width: 78px
            padding-right: 10px
            margin-top: 2px
            margin-left: -75px
            text-align: right

    &__tags
        li
            &:before
                content: ""
        &__item
            display: inline-block

    iframe
        display: block
        width: 100%
        height: 420px
        padding-top: 1.2em
        padding-bottom: 1.2em
        +container()

    blockquote
        border-left: 5px solid $gray
        padding-left: 14px
        margin-bottom: 30px
        margin-top: 10px
        margin-left: -18px
        font-style: italic

    pre
        margin-bottom: 1em
        overflow: auto
        max-width: 340px

    table
        margin-top: 20px
        margin-bottom: 20px

        & th, & td
            padding: 6px 13px
            border: 1px solid $gray

        & th
            font-weight: 400

    tbody tr:nth-child(odd)
        background-color: $gray-light


    .gist

        &-meta
            font-size: .5em

            & a
                font-size: inherit

        table th, table td
            font-size: 15px

p.post__wallpaper
    padding: 0
    width: 100%
    max-width: 1024px
