@import '../mixins/grid'

.researchs
    padding-left: 1em
    padding-right: 1em
    padding-top: 2em
    padding-bottom: 2em
    +container()

    h2
        padding-top: 1em

    &__item
        padding: 1em
        margin-top: 1em
        margin-bottom: 1em

        &--active
            background: $gray-light

        &--finished
            background: $blue-ligth
